body{
    margin:0;
    display: flex;
    height: 100vh;
}

main{
    background-color: bisque;
    margin:auto;
}

.calculator-body{
    background-color: cornflowerblue;
    width:320px;
    height:480px;
}